
<div class="container">
<div class="col-xs-offset-1">
  <h1>Events</h1>
<div id="events">
<% interests.each do |interest| %>
  <a href="#<%= interest.name.delete "/" " " %>" class="btn btn-default" data-toggle="collapse"><%= interest.name %></a><br>
  <div id="<%= interest.name.delete "/" " " %>" class="collapse">
    <% if interest.events == [] %>
      <p>No events for this category yet!</p>
    <% end%>

    <% interest.events.each do |event| %>
      <h5><%= event.name %></h5>
      <p>Location: <%= event.location %></p>
      <p>When: <%= event.date_time %></p>
      <p>Details: <%= event.details %></p>
      <p>Contact:<a href="/users/<%= event.user_id %>">  <%= User.find(event.user_id).user_name %></a></p><br>
    <% end %>


  </div>
<% end %>
</div>
</div>



</div>