

<div class="container" id="profile">

    <h1><i class="fa fa-star" aria-hidden="true"></i>  <%= user.user_name %></h1>
    <h4>Location: <%= user.location %></h4>
    <p>"<%= user.greeting %>"</p>
    <p>I am interested in:</p> 
    <ul>
    <% user.interests.each do |interest| %>
        <li><%= interest.name %></li> 
      <% end %>
    </ul>
 
    <% unless user.events == [] %>
      <h3><%= user.user_name %>'s Events</h3>
     <% user.events.each do |event| %>
      <h5><%= event.name %></h5>
      <p>Location: <%= event.location %></p>
      <p>When: <%= event.date_time %></p>
      <p>Details: <%= event.details %></p><br>
     <% end %>
   
  <% end %>
  <a class="btn btn-primary btn-lg" href="mailto: <%= user.email %>" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Contact <%= user.user_name %></a>

</div>

