

<div class="container" id="profile">
<div class="row">
<div class="col-md-5 col-md-offset-1">

    <h1><i class="fa fa-star" aria-hidden="true"></i>  <%= user.user_name %></h1>
    <h4>Location: <%= user.location %></h4>
    <p>"<%= user.greeting %>"</p>
    <p>I am interested in:</p> 
    <ul>
    <% user.interests.each do |interest| %>
        <li><%= interest.name %></li> 
      <% end %>
    </ul>
    <a class="btn btn-primary btn-lg" href="mailto: <%= user.email %>" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Contact <%= user.user_name %></a>
  </div>

 <div class="col-md-5">
      <h3><%= user.user_name %>'s Events</h3>
     <% if user.events == [] %>
      <p>No events yet!</p>
      <% else %>
     <% user.events.each do |event| %>
      <h5><%= event.name %></h5>
      <p>Location: <%= event.location %></p>
      <p>When: <%= event.date_time %></p>
      <p>Details: <%= event.details %></p><br>
     <% end %>
  </div> 
  <% end %>
 
</div>
</div>
</div>
